{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href={% url 'home' %}>
    <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Responsive image" style="width:40px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'view' %}active{% endif %}" href={% url 'todo_app:view' %}>VIEW LISTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'todo_create' %}active{% endif %}" href={% url 'todo_app:todo_create' %}>CREATE NEW LIST</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href={% url 'profile' %}>PROFILE</a>
            <a class="dropdown-item {% if request.resolver_match.url_name == 'password_change' %}active{% endif %}" href={% url 'password_change' %}>CHANGE PASSWORD</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href={% url 'logout' %}>LOG OUT</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href={% url 'login' %}>LOG IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href={% url 'register' %}>SIGN UP</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>